$black-color: #000;
$white-color: #fff;
$light-background-color: rgba(255, 152, 0, 0.8);

$primary-color: #fe9b43;
$light-primary-color: rgba(251, 129, 41,.6);
$lighter-primary-color: rgba(251, 129, 41,.2);
$extra-light-primary-color: rgba(251, 129, 41,0.15);

$danger-color: #f56c6c;

$primary-text-color: #303133;
$regular-text-color: #606266;
$placeholder-text-color: #c0c4cc;

$border-color: #dcdfe6;
$lighter-border-color: rgba(251, 129, 41, 0.13);
